.mainBlock {
  width: 200px;
  height: 300px;
  i {
    font-style: italic;
  }
  b {
    font-weight: 700;
  }
  flex: 0 1 50%;
}
.card {
  display: flex;
  background: #000;
  padding: 10px 20px;
  margin: 0 0 20px 0;
  border-radius: 5px;
  flex-direction: column;
  border: 1px solid rgb(36, 34, 34);
}
.title {
  font-style: italic;
  margin: 0 0 20px 0;
  text-decoration: underline;
}
.theme {
  font-weight: 700;
  margin: 0 0 10px 0;
}
.paragraph {
  margin: 0 0 30px 0;
}
