.flexConteiner {
  width: 105%;
  display: flex;
  padding: 30px 20px;
  background: #bebebe;
  margin: 0 0 -3px -35px;
  justify-content: space-between;
}
.leftSideWrap {
  gap: 0 15px;
  display: flex;
  align-items: center;
}
.rightSideWrap {
  gap: 0 15px;
  display: flex;
  align-items: center;
}
.button {
  background: transparent;
  cursor: pointer;
}
.sendButton {
  display: flex;
  cursor: pointer;
  font-size: 20px;
  background: #000;
  padding: 10px 20px;
  align-items: center;
  border-radius: 10px;
}
.span {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #bebebe;
}
.label {
  cursor: pointer;
}
.input {
  display: none;
}
