.textarea {
  width: 100%;
  color: #000;
  resize: none;
  height: 350px;
  outline: none;
  display: block;
  padding: 10px 0;
  background: #fff;
  border-radius: 5px;
  &:focus::placeholder {
    color: transparent;
  }
}
.textareaErr {
  &::placeholder {
    color: red;
  }
}
