.wrap {
  width: 100px;
  padding: 10px;
  display: flex;
  background: #fff;
  position: absolute;
  align-items: center;
  border-radius: 10px;
  border: 1px solid gray;
  justify-content: space-between;
}
.wrapOFF {
  display: none;
}
.button {
  color: black;
  cursor: pointer;
  background: transparent;
  &:hover {
    background: #848181;
  }
}
